<!-- pokemon-api.component.html -->
<div class="container mx-auto p-6">
  <h1 class="text-3xl font-bold text-blue-600 mb-6">PokeAPI Explorer</h1>

  <!-- Pokemon ID Search form -->
  <div class="mb-6">
    <form (submit)="searchPokemonById($event)">
      <div class="flex items-center">
        <input
          type="number"
          [(ngModel)]="pokemonId"
          name="pokemonId"
          placeholder="Enter Pokémon ID"
          class="px-4 py-2 border border-gray-300 rounded-l-md focus:outline-none focus:ring-2 focus:ring-blue-500"
          min="1"
        />
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-r-md transition duration-300"
        >
          Search
        </button>
      </div>
    </form>
  </div>

  <div *ngIf="isLoading" class="flex justify-center items-center">
    <div
      class="animate-spin rounded-full h-12 w-12 border-t-4 border-blue-500"
    ></div>
  </div>

  <div *ngIf="!isLoading && !error">
    <div *ngFor="let pokemon of pokemonData()">
      <img
        [src]="pokemon.sprites.front_default"
        alt="{{ pokemon.name }}"
        class="w-32 h-32 mb-4"
      />
      <p>Pokemon Name: {{ pokemon.name }}</p>
      <p>Pokemon ID: {{ pokemon.id }}</p>
      <p>Pokemon Types: {{ pokemon.type }}</p>
      <p>Pokemon Height: {{ pokemon.height }}</p>
      <p>Pokemon Weight: {{ pokemon.weight }}</p>
      <p>Pokemon Abilities: {{ pokemon.abilities }}</p>
    </div>
  </div>

  <div
    *ngIf="error"
    class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
    role="alert"
  >
    {{ error }}
  </div>
</div>
