<header class="bg-blue-600 p-4">
  <h1 class="text-white text-3xl font-bold">Angular Router App</h1>
  <nav class="mt-4">
    <ul class="flex space-x-4">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="text-white hover:text-gray-200 cursor-pointer"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="pokemon"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          class="text-white hover:text-gray-200 cursor-pointer"
          >Pokemon!!!!</a
        >
      </li>
    </ul>
  </nav>
</header>
